.streaming-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: calc(100vh - 140px);
}

.background-image {
	opacity: 70%;
}

.video-player {
	width: 100vw;
	height: calc(100vh - 105px);
	background-color: black;
	object-fit: contain;
}

.loading-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-message {
  margin-top: 12px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

.loading-spinner {
    --mdc-circular-progress-active-indicator-color: #AFBB80;
}

@media (max-width: 768px) {
    .movie-container {
        width: 90vw;
        height: auto;
    }

    .video-player {
        width: 100%;
        height: auto;
    }

	.torrent-list {
		margin-left: 0;
		margin-top: 2vh;
		width: 90vw;
	}
}
