<div class="streaming-select">
    <select class="form-select" aria-label="Default select example" (change)="onTorrentChange($event)">
        <option value="" disabled selected>{{textMap.get("Select a torrent")}}</option>
        @for (opt of torrentOptions; track torrentOptions) {
        <option value="{{opt.Magnet}}">{{opt.Name}}</option>
        }
    </select>
</div>

<mat-divider></mat-divider>

<div class="streaming-container">
    <h1 class="movie-title">{{videoTitle}}</h1>
    <div class="movie-container">
        <div class="loading-container" *ngIf="loading">
            <mat-spinner class="loading-spinner"></mat-spinner>
        </div>
	<!--
        <div *ngIf="!loading">
            <video width="320" height="180" class="video-player" #videoPlayer controls type="application/x-mpegURL">
                <source src="{{videoUrl}}">
                Your browser does not support the video tag.
            </video>
        </div>
	-->
      <video
        width="320"
        height="180"
        class="video-player"
        #videoPlayer
        controls
        preload="auto"
        autoplay
        muted
      >
        <source [src]="videoUrl" type="application/vnd.apple.mpegurl">
        {{textMap.get("Your browser does not support the video tag.")}}
      </video>

        <!-- <track label="Français" kind="subtitles" srclang="fr" default
            src="{{tracksUrl}}" /> -->
    </div>
</div>
