<div class="comments-container">
  <p>Comments</p>
  <mat-divider></mat-divider>
  <div class="my-comment">
    <form (ngSubmit)="submitComment()" class="comment-form" #commentForm="ngForm">
      <textarea [(ngModel)]="commentContent" name="content"
        placeholder="Write your comment here..." required rows="4"
        #content="ngModel"></textarea>
      <button type="submit" [disabled]="!commentContent.trim()">Send</button>
    </form>

    <div class="comment" *ngFor="let comment of comments">
      <!-- <div class="user-profile">
        <a [routerLink]="['/profil', comment.userId]" class="author-link">
          {{ comment.username }}
        </a>
      </div> -->
      <p>{{comment.content}}</p>
      <div class="comment-actions">
        <button (click)="likeComment(comment.id)">👍</button>
        <button (click)="unlikeComment(comment.id)">👎</button>
        <button (click)="deleteComment(comment.id)">🗑️</button>
      </div>
    </div>
  </div>
</div>
