.mat-divider {
    border-top-color: var(--background-color-lightgreen);
    padding: 0.2rem;
}

.footer {
    background-color: var(--background-color-darkgreen);
    color: var(--color-text-whitesmoke);
    position: sticky;
    top: 100vh;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer-text,
.copyright {
    font-size: 0.9rem;
}

.footer-text a,
.copyright a {
    color: var(--color-text-whitesmoke);
    text-decoration: none;
    transition: text-shadow 0.3s ease-in-out;
}

.footer-text a:hover,
.copyright a:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 0 0 12px var(--background-color-lightgreen);
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        padding: 0.5rem 1rem;
    }
}
