<footer class="footer">
    <mat-divider></mat-divider>
    <div class="footer-content">
        <div class="footer-text">
            {{textMap.get("Developped by")}}
            <a href="https://github.com/armandase" target="_blank">adamiens</a>,
            <a href="https://github.com/painpats" target="_blank">cbourre</a>,
            <a href="https://github.com/HenriUwU" target="_blank">hsebille</a>
            {{textMap.get("and")}}
            <a href="https://github.com/nlocussol" target="_blank">nlocussol</a>
            {{textMap.get("using")}}
            <a href="https://angular.dev/" target="_blank">Angular</a>
            {{textMap.get("and")}}
            <a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a>
        </div>


        <div class="copyright">
            <a href="https://42angouleme.fr/" target="_blank">©</a> 2025 | <a href="https://42angouleme.fr/"
                target="_blank">42 Angoulême</a>
        </div>
    </div>
</footer>