<!-- <div class="footer">
    <mat-divider></mat-divider>
    <div class="footer-content">
        <div class="footer-developer">
            Developped by
            <a mat-button href="https://github.com/armandase" class="footer-developer-link">adamiens</a>
            ,
            <a mat-button href="https://github.com/painpats" target="_blank" class="footer-developer-link">cbourre</a>,
            <a mat-button href="https://github.com/HenriUwU" class="footer-developer-link">hsebille</a> and
            <a mat-button href="https://github.com/nlocussol" class="footer-developer-link">nlocussol</a>
            using
            <a mat-button href="https://angular.dev/" class="footer-developer-link">Angular</a> and
            <a mat-button href="https://spring.io/projects/spring-boot" class="footer-developer-link">Spring Boot</a>
        </div>
        <div class="footer-copyright">
            © 2025 | 42 Angoulême
        </div>
    </div>
</div> -->

<footer class="footer">
    <mat-divider></mat-divider>
    <div class="footer-content">
        <div class="footer-text">
            {{"developped" | translate}}
            <a href="https://github.com/armandase" target="_blank">adamiens</a>,
            <a href="https://github.com/painpats" target="_blank">cbourre</a>,
            <a href="https://github.com/HenriUwU" target="_blank">hsebille</a>
            {{"and" | translate}}
            <a href="https://github.com/nlocussol" target="_blank">nlocussol</a>
            {{"using" | translate}}
            <a href="https://angular.dev/" target="_blank">Angular</a>
            {{"and" | translate}}
            <a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot</a>
        </div>


        <div class="copyright">
            <a href="https://42angouleme.fr/" target="_blank">©</a> 2025 | <a href="https://42angouleme.fr/"
                target="_blank">42 Angoulême</a>
        </div>
    </div>
</footer>