/*@import "https://fonts.googleapis.com/icon?family=Material+Icons";*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #153f2f;
  /* font-family: "Open Sans", serif; */
  font-family: "Borel Regular", serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  height: 100%;
}

/* @font-face {
  font-family: Open Sans;
  src: url("assets/fonts/Open_Sans/static/OpenSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Borel Regular';
  src: url("assets/fonts/Borel/Borel-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}