* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Open Sans", serif;
  min-height: 100vh;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@font-face {
  font-family: Open Sans;
  src: url("assets/fonts/Open_Sans/static/OpenSans-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
