<div class="homepage-controls">
  <div class="search-and-year">
    <mat-form-field appearance="fill" class="search-field transparent-form-field">
      <mat-label>{{textMap.get('Search')}}</mat-label>
      <input matInput (input)="onSearchInputFromEvent($event)" [value]="searchTerm" placeholder="Search movies..." />
    </mat-form-field>

    <mat-form-field appearance="fill" class="production-year-select">
      <mat-label>{{ textMap.get('Production Year') }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="yearControl"
        [matAutocomplete]="auto"
        placeholder="{{textMap.get('e.g. 2022')}}"
      />
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
        <mat-option *ngFor="let year of filteredYears$ | async" [value]="year">
          {{ year }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>

  <div class="spacer"></div>

  <mat-tab-group class="sort-tab-group" (selectedIndexChange)="onSortChangeIndex($event)">
    <mat-tab *ngFor="let opt of sortingOptions" [label]="textMap.get(formatLabel(opt)) ?? formatLabel(opt)"></mat-tab>
  </mat-tab-group>

  <div class="star-rating-filter">
    <label>{{textMap.get('Min. stars')}}</label>
    <div class="stars">
    <span
      *ngFor="let star of starsArray; let i = index"
      class="star"
      [class.filled]="(hoverIndex !== -1 ? i <= hoverIndex : i < minStars)"
      (mouseenter)="hoverIndex = i"
      (mouseleave)="hoverIndex = -1"
      (click)="setMinStars(i + 1)"
    >&#9733;</span
    >
    </div>
  </div>

  <button mat-button [matMenuTriggerFor]="filterMenu">
    {{textMap.get('Genres')}}
    <mat-icon>filter_alt</mat-icon>
  </button>

  <mat-menu #filterMenu="matMenu" class="genre-filter-menu">
    <div class="genre-checkbox-list">
      <div class="checkbox-wrapper">
        <mat-checkbox
          [checked]="areAllGenresSelected()"
          (change)="toggleAllSelections($event.checked)"
          [disableRipple]="true"
          (click)="$event.stopPropagation()"
        >
          {{textMap.get('All')}}
        </mat-checkbox>
      </div>

      <div *ngFor="let genre of genres" class="checkbox-wrapper">
        <mat-checkbox
          [checked]="isChecked(genre)"
          (change)="toggleSelection(genre)"
          [disableRipple]="true"
          (click)="$event.stopPropagation()"
        >
          {{ genre.name }}
        </mat-checkbox>
      </div>
    </div>
  </mat-menu>
</div>

<mat-divider></mat-divider>


<div class="home-page">
  <div class="movie-list">
    <div *ngFor="let movie of movies" class="movie-item">
      <app-thumbnail [movieId]="movie.id"></app-thumbnail>
    </div>
  </div>
</div>
