<div *ngIf="isLogged()" class="homepage-controls">
  <div class="search-and-year">
    <mat-form-field appearance="fill" class="search-field transparent-form-field">
      <mat-label>{{tradMap.get('Search')}}</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="onSearchInputFromEvent(searchTerm)" (keyup.enter)="onSearchInputFromEvent(searchTerm)" placeholder="Search movies..." />
      <button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchInput('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill" class="source-select transparent-form-field">
      <mat-label>{{ tradMap.get('Source') || 'Source' }}</mat-label>
      <mat-select [formControl]="searchSourceControl">
        <mat-option value="tmdb">TMDb</mat-option>
        <mat-option value="omdb">OMDb</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="production-year-select">
      <mat-label>{{ tradMap.get('Production Year') }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="yearControl"
        [matAutocomplete]="auto"
        placeholder="{{tradMap.get('e.g. 2022')}}"
      />
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
        <mat-option *ngFor="let year of filteredYears$ | async" [value]="year">
          {{ year }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </div>

  <div class="spacer"></div>

  <button mat-button [matMenuTriggerFor]="sortMenu">
    {{ tradMap.get(selectSortingOpt ? sortingOptions.get(selectSortingOpt) || '' : 'Sort By') }}
    <i class="fas fa-sort"></i>
  </button>

  <mat-menu #sortMenu="matMenu" class="genre-filter-menu">
    <button mat-menu-item *ngFor="let opt of sortingOptions | keyvalue"
            (click)="onSortOptionChange(opt.key)"
            [class.selected-option]="opt.key === selectSortingOpt">
      {{ tradMap.get(opt.value) }}
    </button>
  </mat-menu>

  <button mat-icon-button (click)="toggleSortDirection()">
    <i class="fas" [ngClass]="sortDirection === 'asc' ? 'fa-arrow-up-short-wide' : 'fa-arrow-down-wide-short'"></i>
  </button>

  <mat-divider></mat-divider>

  <div class="star-rating-filter">
    <label>{{tradMap.get('Min. stars')}}</label>
    <div class="stars">
    <span
      *ngFor="let star of starsArray; let i = index"
      class="star"
      [class.filled]="(hoverIndex !== -1 ? i <= hoverIndex : i < minStars)"
      (mouseenter)="hoverIndex = i"
      (mouseleave)="hoverIndex = -1"
      (click)="setMinStars(i + 1)"
    >&#9733;</span
    >
    </div>
  </div>

  <mat-divider></mat-divider>

  <button mat-button [matMenuTriggerFor]="filterMenu">
    {{tradMap.get('Genres')}}
    <mat-icon>filter_alt</mat-icon>
  </button>

  <mat-menu #filterMenu="matMenu" class="genre-filter-menu">
    <div class="genre-checkbox-list">
      <div class="checkbox-wrapper">
        <mat-checkbox
          [checked]="areAllGenresSelected()"
          (change)="toggleAllSelections($event.checked)"
          [disableRipple]="true"
          (click)="$event.stopPropagation()"
        >
          {{tradMap.get('All')}}
        </mat-checkbox>
      </div>

      <div *ngFor="let genre of genres" class="checkbox-wrapper">
        <mat-checkbox
          [checked]="isChecked(genre)"
          (change)="toggleSelection(genre)"
          [disableRipple]="true"
          (click)="$event.stopPropagation()"
        >
          {{ genre.name }}
        </mat-checkbox>
      </div>
    </div>
  </mat-menu>
</div>

<mat-divider></mat-divider>


<div class="home-page">
  <div class="movie-list">
    <div *ngFor="let movie of movies" class="movie-item">
      <app-thumbnail [movieId]="movie.id"></app-thumbnail>
    </div>
  </div>

  <div *ngIf="noMoreMovies" class="no-more-movies-message">
    {{ tradMap.get('No more movies to load.') || 'No more movies to load.' }}
  </div>
</div>
