    <div class="wrapper">
<div class="profile-container">
    <div class="profile-title">
        <h1>{{tradMap.get('profile')}}</h1>
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-container">
            <div class="form-boxes">
                <div class="left-column">
                    <div *ngIf="!isReadOnly">
                        <label for="email">{{tradMap.get('Email Address')}}: </label>
                        <input id="email" type="email" formControlName="email" [readonly]="this.isReadOnly" />
                        <br />
                    </div>

                    <label for="username">{{tradMap.get('Username')}}: </label>
                    <input id="username" type="text" formControlName="username" [readonly]="this.isReadOnly" />
                    <br />

                    <label for="lastname">{{tradMap.get('Last Name')}}: </label>
                    <input id="lastname" type="text" formControlName="lastname" [readonly]="this.isReadOnly" />
                    <br />

                    <label for="firstname">{{tradMap.get('First Name')}}: </label>
                    <input id="firstname" type="text" formControlName="firstname" [readonly]="this.isReadOnly" />
                    <br />
                    
                </div>
                
                <div class="right-column">
                    <div class="pp-container">
                        <div class="profile-picture-container">
                            
                            <label for="file-input">
                                <img [src]="profilePictureUrl" alt="Photo de profil" class="profile-pic" id="profile-picture">
                            </label>
                            <input type="file" id="file-input" accept="image/*" (change)="onFileSelected($event)" [disabled]="isReadOnly">
                        </div>
                    </div>
                    <div class="modify-password-container" *ngIf="!isReadOnly">
                        <button type="submit" id="submitButton" (click)="modifyPassword()">{{tradMap.get('Change Password')}}</button>
                    </div>
                </div>

            </div>
            <div class="form-button" *ngIf="!isReadOnly">
                <button type="submit" [disabled]="!profileForm.valid" id="submitButton">{{tradMap.get('Save')}}</button>
            </div>
        </div>
    </form>
</div>
</div>
