<div class="thumbnail-container" (click)="onClick()">

    <h1 class="thumbnail-title">
        {{ getTitle() }}
    </h1>

    <div class="thumbnail-image-container">
        <img [src]="getImage()" alt="{{ getTitle() }}" class="thumbnail-image" />
    </div>

    <div ng-show="watched" class="thumbnail-watched">
        <mat-progress-bar mode="determinate" value="{{ getVisualizedTimeAsPercent() }}"></mat-progress-bar>
    </div>

    <div class=" thumbnail-quick-info">
        <span class="thumbnail-release-date">
            {{ getReleaseYear() }}
        </span>
        ‧
        <span class="thumbnail-genre">
            {{ getGenreByIdx(0) }}/{{ getGenreByIdx(1) }}
        </span>
        <br />
        <span class="thumbnail-duration">
            {{ getLength() }}
        </span>
    </div>
</div>