/* .thumbnail-container {
    width: 20vw;
    height: 40vh;
    min-width: 200px;
    min-height: 400px;
    background-image: url("/assets/images/thumnail_background.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat round;
    background-position: center;
} */

.thumbnail-container {
    position: relative;

    width: 20vw;
    height: 40vh;
    min-width: 200px;
    min-height: 400px;

    border-bottom: 2vh solid #eac29f;
    border-top: 2vh solid #eac29f;
    border-left: 1vw solid #eac29f;
    border-right: 1vw solid #eac29f;
    border-radius: 5%;
    background-color: #20242a;

    justify-content: space-between;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-image-container {
    padding: 1%;
    padding-bottom: 0;
    height: 80%;
    background-color: brown;
}

.thumbnail-title {
    white-space: nowrap;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background-color: yellow;
    height: 10%;
}

.thumbnail-watched {
    background-color: turquoise;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: red;
    --mdc-linear-progress-track-color: grey;
    padding-left: 1%;
    padding-right: 1%;
}

.thumbnail-quick-info {
    font-size: 0.8rem;
    text-align: center;
    color: white;
    background-color: purple;
}