<div class="thumbnail-container" (click)="onClick()">

    <h1 class="thumbnail-title">
        {{ movieThumbnail.title }}
    </h1>

    <div class="thumbnail-image-container">
        <img [src]="movieThumbnail.poster_path" alt="{{ movieThumbnail.title }}" class="thumbnail-image" />
    </div>

    <div ng-show="watchedMovie" class="thumbnail-watched">
        <mat-progress-bar mode="determinate" value="{{ getVisualizedTimeAsPercent() }}"></mat-progress-bar>
    </div>

    <div class=" thumbnail-quick-info">
        <span class="thumbnail-release-date">
            {{ movieThumbnail.release_year }}
        </span>
        ‧
        <span class="thumbnail-genre">
            {{ getGenreByIdx(0) }}/{{ getGenreByIdx(1) }}
        </span>
        <br />
        <span class="thumbnail-duration">
            {{ getLength() }}
        </span>
    </div>
</div>