<div class="summary-container" *ngIf="movie">
  <div class="poster">
     <img src="{{movie.poster_path}}" alt="poster">
  </div>

  <div class="movie-info">
    <div class="title">
      <h1 class="movie-title">{{ movie.title }}</h1>
      <p class="movie-note">{{ movie.vote_average }} / 10 &#9733;</p>
    </div>

    <div class="genres">
      <p><em> {{ getGenreString() }}</em></p>
    </div>

    <div class="time">
      <p class="runtime"><strong>{{ getMovieRuntime() }}</strong></p>
      <p class="release-date"><strong>{{ movie.release_date }}</strong></p>
    </div>

	<div>
	  <p class="synopsis">{{ movie.overview }}</p>
	</div>

  </div>

  <div class="credits">
    <div class="label">Casting</div>
    <div class="people-line">
      <div class="scroll-wrapper">
        <button class="scroll-btn left" (click)="scrollCast(-1)" [disabled]="castIndex === 0">&#10094;</button>

        <div class="person-list" #castContainer>
          <div *ngFor="let person of getVisibleCast()" class="person-card">
            <img [src]="getImageUrl(person.profile_path)" (error)="onImageError($event)" alt="{{ person.name }}">
            <div class="info">
              <strong>{{ person.name }}</strong>
              <div class="role" *ngIf="person.character">{{ person.character }}</div>
            </div>
          </div>
        </div>

        <button class="scroll-btn right"
                (click)="scrollCast(1)"
                [disabled]="castIndex + visibleCount >= movie.credits.cast.length">&#10095;</button>
      </div>
    </div>

    <div class="label">Crew</div>
    <div class="people-line">
      <div class="scroll-wrapper">
        <button class="scroll-btn left" (click)="scrollCrew(-1)" [disabled]="crewIndex === 0">&#10094;</button>

        <div class="person-list" #crewContainer>
          <div *ngFor="let person of getVisibleCrew()" class="person-card">
            <img [src]="getImageUrl(person.profile_path)" (error)="onImageError($event)" alt="{{ person.name }}">
            <div class="info">
              <strong>{{ person.name }}</strong>
              <div class="role" *ngIf="person.job">{{ person.job }}</div>
            </div>
          </div>
        </div>

        <button class="scroll-btn right"
                (click)="scrollCrew(1)"
                [disabled]="crewIndex + visibleCount >= movie.credits.crew.length">&#10095;</button>
      </div>
    </div>
    </div>
</div>

<div class="trailer-container">
  <div class="watch-container">
    <div class="left-side">
      <iframe
		  *ngIf="trailerUrl"
		  [src]="trailerUrl"
		  title="YouTube video"
		  allowfullscreen>
      </iframe>
    </div>

    <div class="right-side">
      <div class="spinner" *ngIf="!torrents && loadingTorrents">
        <mat-spinner class="loading-spinner"></mat-spinner>
      </div>
      <div class="torrent-list" *ngIf="!loadingTorrents && !torrents">

      </div>
      <div class="torrent-list" *ngIf="torrents">
        <div class="torrent-item" *ngFor="let torrent of torrents" (click)="selectTorrent(torrent.Magnet)" [class.selected]="torrent.Magnet === magnet">
          {{torrent.Name}}
          <br/>
          Seeders: {{torrent.Seeders}} | Size: {{torrent.Size}}
        </div>
      </div>
      <div class="play">
        <button mat-flat-button class="play-btn" type="submit" (click)="stream()" [disabled]="!magnet">
            ▶ Play
        </button>
      </div>
    </div>
  </div>
</div>

<div class="comments-container">
  <p>Comments</p>
  <mat-divider></mat-divider>
</div>
