<div class="summary-container">
  <div class="poster">
     <img src="{{movie.poster_path}}" alt="poster">
  </div>

  <div class="movie-info">
    <div class="title">
      <h1 class="movie-title">{{ movie.title }}</h1>
      <p class="movie-note">{{ movie.vote_average }} / 10 &#9733;</p>
    </div>

    <div class="time">
      <p class="runtime"><strong>{{ getMovieRuntime() }}</strong></p>
      <p class="release-date"><strong>{{ movie.release_date }}</strong></p>
    </div>

    <div class="synopsis">
      <p class="synopsis">{{ movie.overview }}</p>
    </div>

    <div class="people">
      <p><u>Cast:</u><em> {{ castSummary }}</em></p>
      <p><u>Crew:</u><em> {{ crewSummary }}</em></p>
    </div>
  </div>
</div>

<div class="trailer-container">
  <div class="watch-container">
    <div class="trailer">
      <p>Trailer</p>
    </div>
  
    <!-- <div class="torrent-list">
          <div class="torrent-item" *ngFor="let torrent of torrents" (click)="selectTorrent(torrent.Magnet)" [class.selected]="torrent.Magnet === magnet">
              {{torrent.Name}}
              <br/>
              Seeders: {{torrent.Seeders}} | Size: {{torrent.Size}}
          </div>
    </div> -->
  </div>

  <div class="play">
    <button mat-flat-button class="play-btn" type="submit">
        ▶ Play
    </button>
  </div>
</div>

<!-- prendre en input l'id du film 

  getMovieDataFromIdAsInterface(id: number): Observable<Movie> {
    return this.http.get<Movie>(`${this.apiUrlAuth}/${id.toString()}`).pipe();
  } 

-->