@use '@angular/material' as mat;

.dense-field {
  @include mat.form-field-density(-2);
}

.navbar {
  background-color: #121212;
  color: white;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.logo-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.search-bar {
  min-width: 400px;
}

.user-management {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.separator {
  width: 2px;
  height: 24px;
  background-color: rgba(255, 255, 255, 0.2);
  align-self: center;
}
