<nav class="navbar">
  <div class="navbar-container">
    <div class="logo-search">
      <mat-icon>movie_library</mat-icon>
      <a href="/" class="logo">Hypertube</a>

      <div class="separator"></div>

      <mat-form-field appearance="outline" color="accent" class="search-bar dense-field">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search movies or shows" (click)="search()">
        <button mat-icon-button matSuffix (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <button mat-mini-fab color="basic">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>

    <button mat-button [matMenuTriggerFor]="userMenu" color="basic" class="menu-density">
      <mat-icon>account_circle</mat-icon> 
      <div *ngIf="currentUser!==null">{{ currentUser.username }}</div>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="goToSettings()">
          <mat-icon>settings</mat-icon>
          Settings
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon color="warn">logout</mat-icon>
          <span [ngStyle]="{'color': '#F44336'}">Logout</span>
        </button>
      </mat-menu>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
