<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Hypertube</title>
    <link rel="stylesheet" href="header.component.css">
</head>

<body>
    <header class="header">
        <div class="header-left">
            <div class="header-button">
                <h1 (click)="toHomepage()">Hypertube</h1>
            </div>
            <li class="language">
                <img src="../../../assets/images/language.svg">
                <span>language</span>
                <!-- <a href="#">language</a> -->
            </li>
            <!-- <select class="form-select form-select-sm">
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="es">Español</option>
            </select> -->
            <!-- profile if logged -->
        </div>
        <div class="header-right">
            <!-- <form [formGroup]="searchForm">
                <div class="search">
                    <input type="text" placeholder="Search..." formControlName="query" (keydown.enter)="search()">
                </div>
            </form>
            <li class="login"><a href="#">log out</a></li> -->
            <div class="header-button" *ngIf="isLog()" (click)="toProfile()">profile</div>
            <div *ngIf="isLog()" class="is-log" (click)="logout()">
				<div class="header-button">logout</div>
            </div>
			<div *ngIf="!isLog()" (click)="login()">
				<div class="header-button">login</div>
			</div>
        </div>
    </header>
</body>
