<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Hypertube</title>
    <link rel="stylesheet" href="header.component.css">
</head>

<body>
    <header>
            <h1>Hypertube</h1>
            <ul class="link">
                    <li class="language"><a href="#">language</a>
                        <img src="../../../assets/images/language.svg">
                    </li>
                    <select class="form-select form-select-sm">
                        <option value="en">English</option>
                        <option value="fr">Français</option>
                        <option value="es">Español</option>
                    </select>


                    <div class="search">
                        <input type="text" placeholder="Search..." [(ngModel)]="term">
                    </div>
                    <ul>
                        <li> *ngFor="let term of term | filter:term"
                            {{term.name}}
                            {{term.color}}
                        </li>
                    </ul>



                    <li class="login"><a href="#">log in</a></li>
            </ul>
            <!-- put line -->
            <!-- <mat-divider></mat-divider> -->
    </header>
</body>
