/* login.component.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
  font-family: "Open Sans", serif;
}

.login-box {
  background-color: #313131;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 100);
  width: 100%;
  max-width: 20%;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

.signup-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 30px;
}

.signup-hyperlink {
  font-weight: bold;
  color: whitesmoke;
  text-decoration: none;
}

.input-field {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #444;
  border-radius: 5px;
  padding-left: 35px;
  margin-bottom: 20px;
}

.input-field i {
  position: absolute;
  left: 10px;
  font-size: 18px;
  color: #aaa;
}

.input-field input {
  background-color: black;
  color: whitesmoke;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #444;
  border-radius: 4px;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
