<div class="login-container">
  <div class="login-box" @slideInAnimation>

    <h2>log in</h2>

    <form [formGroup]="loginForm" class="login-form">
      <label for="username">Username</label>
      <mat-form-field appearance="outline" color="accent" class="login-form">
        <mat-label>username</mat-label>
        <input matInput formControlName="username" type="text" required />
      </mat-form-field>

      <label for="password">Password</label>
      <mat-form-field appearance="outline" color="primary" class="login-form">
        <mat-label>********</mat-label>
        <input matInput formControlName="password" type="password" [type]="hide ? 'password' : 'text' " required />
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-hint class="forgot-password">
          <a class="forgot-password-hyperlink" routerLink="/auth/forgot-password">Forgot password?</a>
        </mat-hint>
      </mat-form-field>

      <button mat-flat-button class="login-btn" type="submit" (click)="login()">
        log in
      </button>
    </form>

    <div class="or-container">
      <span>OR<br>log in with<br><br></span>
    </div>

    <div class="omniauth-buttons">
      <a href="https://discord.com/oauth2/authorize?client_id=1332866171581632643&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fauth%2Fomniauth%2Fdiscord&scope=identify+email"
        class="omniauth-btn">
        <div class="logo-box">
            <img ngSrc="assets/logos/discord-logo.svg" alt="Google Logo" width="1024" height="1045" />
        </div>
      </a>
      <a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-3d0b78d85d1720e444f1354145f582882a28378ec38a8c07fedc6bad0323ad89&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fauth%2Fomniauth%2F42&response_type=code"
        class="omniauth-btn">
        <div class="logo-box">
          <img ngSrc="assets/logos/42-logo.svg" alt="42 Logo" width="600" height="421" />
        </div>
      </a>
      <a href="/auth/42" class="omniauth-btn">
        <div class="logo-box">
            <img ngSrc="assets/logos/github-logo.svg" alt="github Logo" width="1024" height="1024" />
        </div>
      </a>
    </div>

    <div class="option">
      <label class="remember-me">
        <input type="checkbox" name="remember"> Remember me
      </label>
    </div>

    <div class="signup-text">New to 
      <span style="font-family: 'Borel', cursive;">Hypertube</span>
       ?
      <a class="signup-hyperlink" routerLink="/auth/register">Sign up now.</a>
    </div>

  </div>
</div>