<div class="login-container">
  <div class="login-box" @slideInAnimation>

    <h2>Login to your account</h2>
    <div class="signup-text">Don't have an account yet? <a class="signup-hyperlink" routerLink="/auth/register">Sign
        up</a></div>

    <form [formGroup]="loginForm" class="login-form">
      <mat-form-field appearance="outline" color="accent" class="login-form">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required />
        <mat-icon matPrefix>person_icon</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent" class="login-form">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" [type]="hide ? 'password' : 'text' " required />
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-hint class="forgot-password">Forgot password?</mat-hint>
      </mat-form-field>
      <button mat-flat-button class="login-btn" color="accent" type="submit" (click)="login()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </form>

    <div class="or-container">
      <div class="line"></div>
      <span>Or</span>
      <div class="line"></div>
    </div>

    <div class="omniauth-buttons">
      <a href="https://discord.com/oauth2/authorize?client_id=1332866171581632643&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fauth%2Fomniauth%2Fdiscord&scope=identify+email"
        class="omniauth-btn">
        <div class="logo-box">
          <div class="logo-container">
            <img ngSrc="assets/logos/discord-logo.svg" alt="Google Logo" width="1024" height="1045" />
          </div>
        </div>
      </a>
      <a href="https://api.intra.42.fr/oauth/authorize?client_id=u-s4t2ud-3d0b78d85d1720e444f1354145f582882a28378ec38a8c07fedc6bad0323ad89&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fauth%2Fomniauth%2F42&response_type=code"
        class="omniauth-btn">
        <div class="logo-box">
          <img ngSrc="assets/logos/42-logo.svg" alt="42 Logo" width="600" height="421" />
        </div>
      </a>
      <a href="/auth/42" class="omniauth-btn">
        <div class="logo-box">
          <div class="logo-container">
            <img ngSrc="assets/logos/github-logo.svg" alt="github Logo" width="1024" height="1024" />
          </div>
        </div>
      </a>
    </div>

  </div>
</div>