<div class="login-container">
  <div class="login-box">
    <h2>Welcome Back</h2>
    <div class="signup-text">Don't have and account yet? <a class="signup-hyperlink" routerLink="/auth/register">Sign up</a></div>
    <form [formGroup]="loginForm">
      <div class="input-field">
        <i class="fas fa-user"></i>
        <input formControlName="username" type="text"  id="username" name="username" placeholder="Username" required />
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input formControlName="password" type="password" id="password" name="password" placeholder="Password" required />
      </div>
      <button type="submit" (click)="login()">Login</button>
    </form>

    <div class="or-container">
      <div class="line"></div>
      <span>Or</span>
      <div class="line"></div>
    </div>

    <div class="omniauth-buttons">
      <a href="/auth/42"  class="omniauth-btn">
        <div class="logo-box">
          <img src="assets/logos/42-logo2.svg" alt="42 Logo"/>
        </div>
      </a>
      <a href="/auth/42"  class="omniauth-btn">
        <div class="logo-box">
          <img src="assets/logos/google-logo.png" alt="Google Logo"/>
        </div>
      </a>
      <a href="/auth/42"  class="omniauth-btn">
        <div class="logo-box">
          <img src="assets/logos/google-logo.png" alt="42 Logo"/>
        </div>
      </a>
    </div>

  </div>
</div>
