/* Conteneur principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Open Sans", serif;
  background-color: #121212;
  color: #FFFFFF;
}

.login-box {
  background-color: #1E1E1E;
  color: #FFFFFF;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 20%;
  min-width: 500px;
}

h2 {
  color: #B8B8B8;
  text-align: center;
  margin-bottom: 10px;
}

.signup-text {
  text-align: center;
  color: rgba(160, 160, 160, 0.5);
  margin-bottom: 40px;
}

.signup-hyperlink {
  font-weight: bold;
  color: #69f0ae;
  text-decoration: none;
}

.signup-hyperlink:hover {
  text-shadow: 0 4px 8px rgba(105, 240, 174, 0.5);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.login-field input {
  color: #B8B8B8;
}

.custom-login-btn:hover {
  box-shadow: 0 4px 8px rgba(105, 240, 174, 0.5);
}

.or-container {
  color: #D8DEE9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.or-container .line {
  flex-grow: 1;
  height: 1px;
  background-color: #555555;
  margin: 0 10px;
}

.or-container span {
  font-size: 16px;
  color: #A0A0A0;
}

.omniauth-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
}

.omniauth-btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: #333333;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 100);
  border-radius: 5px;
}

.logo-box:hover {
  background-color: #69f0ae;
  box-shadow: 0 4px 8px rgba(105, 240, 174, 0.5);
}

.logo-box img {
  display: block;
  margin: auto;
  padding: 0;
  max-height: 25px;
  max-width: 100%;
  object-fit: contain;
}
