<div class="register-container">
  <div class="register-box" @slideInAnimation>

    <h2>Register now</h2>
    <div class="sign-in-text">Already have an account? <a class="sign-in-hyperlink" routerLink="/auth/login">Sign in</a></div>

    <form [formGroup]="registerForm" class="register-form">
      <mat-form-field appearance="outline" color="accent" class="register-field">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required/>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="register-field">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required/>
      </mat-form-field>

      <div class="or-container">
        <div class="line"></div>
        <span>Personal information</span>
        <div class="line"></div>
      </div>

      <mat-form-field appearance="outline" color="accent" class="register-field">
        <mat-label>email</mat-label>
        <input matInput formControlName="email" type="email" required/>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="register-field">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" type="text" required/>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="register-field">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" type="text" required/>
      </mat-form-field>

      <button mat-flat-button class="register-btn" color="accent" type="submit" (click)="register()">Register</button>
    </form>

    <div class="or-container">
      <div class="line"></div>
      <span>Or</span>
      <div class="line"></div>
    </div>

    <div class="omniauth-buttons">
      <a href="/auth/42"  class="omniauth-btn">
        <div class="logo-box">
          <div class="logo-container">
            <img ngSrc="assets/logos/google-logo.png" alt="Google Logo" width="1024" height="1045"/>
          </div>
        </div>
      </a>
      <a href="/auth/42"  class="omniauth-btn">
        <div class="logo-box">
          <img ngSrc="assets/logos/42-logo.png" alt="42 Logo" width="600" height="421"/>
        </div>
      </a>
      <a href="/auth/42"  class="omniauth-btn">
        <div class="logo-box">
          <div class="logo-container">
            <img ngSrc="assets/logos/github-logo.svg" alt="github Logo" width="1024" height="1024"/>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
