<div class="forgot-password-popup">
  <h1 class="popup-title">{{tradMap.get('Please enter your email address to receive a reset password link.')}}</h1>
  <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
    <div class="form-group">
      <label for="email" class="box-title">{{tradMap.get('Email Address')}}</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required />
    </div>
    <button type="submit" [disabled]="!forgotPasswordForm.form.valid">{{tradMap.get('Send reset link')}}</button>
  </form>
</div>
