<form [formGroup]="passwordForm" (submit)="onSubmit()">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword">
        <div class="error-message" *ngIf="passwordForm.errors?.['PasswordNoMatch']">
            Password does'nt match.
        </div>
        <div class="error-message" *ngIf="passwordForm.errors?.['PasswordTooShort']">
            Password must be at least 8 characters long.
        </div>
        <div class="error-message" *ngIf="passwordForm.errors?.['PasswordNoUppercase']">
            Password must contain at least one uppercase letter.
        </div>
        <div class="error-message" *ngIf="passwordForm.errors?.['PasswordNoLowercase']">
            Password must contain at least one lowercase letter.
        </div>
        <div class="error-message" *ngIf="passwordForm.errors?.['PasswordNoNumber']">
            Password must contain at least one number.
        </div>
        <div class="error-message" *ngIf="passwordForm.errors?.['PasswordNoSpecialChar']">
            Password must contain at least one special character.
        </div>
    </div>
    <div class="form-button">
        <button type="submit" [disabled]="!passwordForm.valid">Update</button>
    </div>
</form>