<div class="password-container">
    <div class="form-container">
        <form [formGroup]="passwordForm" (submit)="onSubmit()">
            <div class="oldPassword" *ngIf="!resetPassword">
                <label for="currentPassword">{{textMap.get("Current Password")}}:</label>
                <br>
                <input type="password" id="currentPassword" formControlName="currentPassword">
                <br>
            </div>

            <label for="password">{{textMap.get('New Password')}}:</label>
            <br>
            <input type="password" id="password" formControlName="password">
            <br>

            <label for="confirmPassword">{{textMap.get("Confirm New Password")}}:</label>
            <br>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
            <br>

            <div class="error-message" *ngIf="!passwordForm.valid">
                {{errorMessage}}
            </div>

            <div class="form-button">
                <button type="submit" [disabled]="!passwordForm.valid" id="form-button-id">{{textMap.get("Update")}}</button>
            </div>


            <div class="sucess-message" *ngIf="successMessage">
                {{textMap.get("Password updated successfully!")}}
            </div>
        </form>
    </div>
</div>