<div class="password-container">
    <div class="form-container">
        <form [formGroup]="passwordForm" (submit)="onSubmit()">
            <div class="oldPassword" *ngIf="!resetPassword">
                <label for="currentPassword">Current Password:</label>
                <br>
                <input type="password" id="currentPassword" formControlName="currentPassword">
                <br>
            </div>

            <label for="password">New password:</label>
            <br>
            <input type="password" id="password" formControlName="password">
            <br>

            <label for="confirmPassword">Confirm Password:</label>
            <br>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
            <br>

            <div class="error-message" *ngIf="!passwordForm.valid">
                {{errorMessage}}
            </div>

            <div class="form-button">
                <button type="submit" [disabled]="!passwordForm.valid" id="form-button-id">Update</button>
            </div>


            <div class="sucess-message" *ngIf="successMessage">
                Password successfully updated.
            </div>
        </form>
    </div>
</div>