/* .password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
} */

.password-container {
  display: flex;
  justify-content: center;  /* Horizontal center */
  align-items: center;      /* Vertical center */
  height: 85vh;            /* Full viewport height */
}

.form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* width: 60%; */
    /* height: 60%; */
    margin: 0 auto;


    border-bottom: 2vh solid #eac29f;
    border-top: 2vh solid #eac29f;
    border-left: 1vw solid #eac29f;
    border-right: 1vw solid #eac29f;
    background-color: #20242a;

    justify-content: space-between;
    border-radius: 5%;
    padding: 5%;

    color: white;

    max-width: 400px; /* fixe une largeur raisonnable */
    width: 90%;
}

#form-button-id {
    color: black;
    background-color: #afbb80;

    border-radius: 5px;
    border-color: #153f2f;

    padding-right: 5em;
    padding-left: 5em;
    padding-top: 1em;
    padding-bottom: 1em;

    height: 10%;
    width: 100%;

    margin-bottom: 1em;
}

#form-button-id:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.form-container input {
    background-color: #20242a;
    color: #b3b3b3;
    border-radius: 5px;
    border-color: #afbb80;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    margin-bottom: 2em;
}

.error-message,
.success-message {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%; /* <= empêche le débordement */
    width: 100%;
    text-align: center;
}

.error-message {
    color: red;
}

.sucess-message {
    color: green;
}